<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About This Todo List</h1>
        <p class="lead">This is a simple todolist.To-do lists are a list of tasks that an individual needs to complete or accomplish.
            Tasks are typically put in order by priority or importance. 
            A to-do list can be written on a piece of paper or by utilizing task management software.</p>
        <hr class="my-4">
        <p>&copy; Copyright 2023 Chayan Bain</p>
        <a class="btn btn-primary" href="#" role="button">Back</a>
    </div>
</div>